{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        "*.json",
        ".*rc"
      ],
      "options": {
        "parser": "json",
        "printWidth": 0,
        "tabWidth": 2
      }
    },
    {
      "files": [
        "*.yml"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
