http:
  services:
    bazarr:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:23080/
    bazarr-pt:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:23081/
    nzbhydra2:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:22080/
    plex:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:32400/
    overseerr:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:36080/
    radarr:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:24080/
    sabnzbd:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:21080/
    sonarr:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:25080/
    synology-diskstation-manager:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:15080/
    synology-file-station:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:17080/
    synology-webdav-server:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:16080/
    tautulli:
      loadBalancer:
        servers:
          - url: http://10.0.10.205:37080/
