firewall {
    all-ping enable
    broadcast-ping disable
    group {
        address-group CLIENTS_ADMIN {
            address 10.0.10.11
            address 10.0.10.12
            address 10.0.10.13
            description "Clients: Administrator"
        }
        address-group CLIENTS_PERSONAL {
            address 10.0.10.0/24
            description "Clients: Personal"
        }
        address-group CLIENTS_PLEX {
            address 10.0.10.0/24
            address 10.0.80.200
            address 10.0.80.205
            description "Clients: Plex"
        }
        address-group NETWORKS_HOME {
            address 10.0.1.0/24
            address 10.0.10.0/24
            address 10.0.80.0/24
            address 10.0.90.0/24
            description "Networks: Home"
        }
        address-group NETWORKS_IPTV {
            address 192.168.1.0/24
            description "Networks: IPTV"
        }
        address-group NETWORKS_RFC1918 {
            address 192.168.0.0/16
            address 172.16.0.0/12
            address 10.0.0.0/8
            description "Networks: RFC1918"
        }
        address-group SERVERS_CIFS {
            address 10.0.1.25
            description "Servers: CIFS/SMB"
        }
        address-group SERVERS_DNS {
            address 10.0.1.1
            description "Servers: DNS"
        }
        address-group SERVERS_PLEX {
            address 10.0.1.25
            description "Servers: Plex"
        }
        address-group SERVERS_PROXY {
            address 10.0.1.1
            description "Servers: Reverse Proxy"
        }
        port-group PORTS_AIRPLAY {
            description "AirPlay"
            port 6002
            port 7000
            port 49152-65535
        }
        port-group PORTS_CHROMECAST {
            description "Chromecast"
            port 6466
            port 8008-8009
            port 8443
            port 32768-61000
        }
        port-group PORTS_CIFS {
            description "CIFS/SMB"
            port 139
            port 445
        }
        port-group PORTS_DHCP {
            description "DHCP"
            port 67
        }
        port-group PORTS_DNS {
            description "DNS"
            port 53
            port 784
            port 853
        }
        port-group PORTS_MDNS {
            description "mDNS"
            port 5353
        }
        port-group PORTS_PLEX {
            description "Plex Media Server"
            port 32400
        }
        port-group PORTS_PROXY {
            description "Reverse Proxy"
            port 80
            port 443
        }
    }
    ipv6-receive-redirects disable
    ipv6-src-route disable
    ip-src-route disable
    log-martians enable
    modify LAN_IPTV_IN {
        description "IPTV clients to LANs/Internet"
        rule 10 {
            action modify
            description "Forward IPTV traffic to the IPTV network"
            modify {
                table 105
            }
            source {
                group {
                    address-group NETWORKS_IPTV
                }
            }
        }
    }
    name LAN_GUESTS_IN {
        default-action accept
        description "Guest clients to LANs/Internet"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action accept
            description "Allow access to the DNS servers"
            destination {
                group {
                    address-group SERVERS_DNS
                    port-group PORTS_DNS
                }
            }
            log disable
            protocol tcp_udp
        }
        rule 30 {
            action drop
            description "Deny access to the internal LANs"
            destination {
                group {
                    address-group NETWORKS_RFC1918
                }
            }
            log disable
            protocol all
        }
    }
    name LAN_GUESTS_LOCAL {
        default-action drop
        description "Guest clients to EdgeRouter"
        rule 10 {
            action accept
            description "Allow access to the DHCP server"
            destination {
                group {
                    port-group PORTS_DHCP
                }
            }
            log disable
            protocol udp
        }
    }
    name LAN_IOT_IN {
        default-action accept
        description "IoT clients to LANs/Internet"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action accept
            description "Allow access to the DNS servers"
            destination {
                group {
                    address-group SERVERS_DNS
                    port-group PORTS_DNS
                }
            }
            log disable
            protocol tcp_udp
        }
        rule 30 {
            action accept
            description "Allow access to the Plex Media Server"
            destination {
                group {
                    address-group SERVERS_PLEX
                    port-group PORTS_PLEX
                }
            }
            log disable
            protocol tcp
            source {
                group {
                    address-group CLIENTS_PLEX
                }
            }
        }
        rule 40 {
            action accept
            description "Allow access to Apple clients (AirPlay)"
            destination {
                group {
                    address-group CLIENTS_PERSONAL
                }
            }
            log disable
            protocol tcp_udp
            source {
                group {
                    port-group PORTS_AIRPLAY
                }
            }
        }
        rule 50 {
            action drop
            description "Deny access to the internal LANs"
            destination {
                group {
                    address-group NETWORKS_RFC1918
                }
            }
            log disable
            protocol all
        }
    }
    name LAN_IOT_LOCAL {
        default-action drop
        description "IoT clients to EdgeRouter"
        rule 10 {
            action accept
            description "Allow access to the DHCP server"
            destination {
                group {
                    port-group PORTS_DHCP
                }
            }
            log disable
            protocol udp
        }
        rule 20 {
            action accept
            description "Allow access to the mDNS repeater"
            destination {
                group {
                    port-group PORTS_MDNS
                }
            }
            log disable
            protocol udp
        }
    }
    name LAN_PERSONAL_IN {
        default-action accept
        description "Personal clients to LANs/Internet"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                invalid disable
                new disable
                related enable
            }
        }
        rule 20 {
            action accept
            description "Allow access to the DNS servers"
            destination {
                group {
                    address-group SERVERS_DNS
                    port-group PORTS_DNS
                }
            }
            log disable
            protocol tcp_udp
        }
        rule 30 {
            action accept
            description "Allow access to the Plex Media Server"
            destination {
                group {
                    address-group SERVERS_PLEX
                    port-group PORTS_PLEX
                }
            }
            log disable
            protocol tcp
            source {
                group {
                    address-group CLIENTS_PLEX
                }
            }
        }
        rule 40 {
            action accept
            description "Allow access to the CIFS/SMB servers"
            destination {
                group {
                    address-group SERVERS_CIFS
                    port-group PORTS_CIFS
                }
            }
            log disable
            protocol tcp
            source {
                group {
                    address-group CLIENTS_PERSONAL
                }
            }
        }
        rule 50 {
            action accept
            description "Allow access to the reverse proxy"
            destination {
                group {
                    address-group SERVERS_PROXY
                    port-group PORTS_PROXY
                }
            }
            log disable
            protocol tcp
            source {
                group {
                    address-group CLIENTS_PERSONAL
                }
            }
        }
        rule 60 {
            action accept
            description "Allow access to Chromecast devices"
            destination {
                group {
                    port-group PORTS_CHROMECAST
                }
            }
            log disable
            protocol tcp_udp
            source {
                group {
                    address-group CLIENTS_PERSONAL
                }
            }
        }
        rule 70 {
            action accept
            description "Allow access to the internal LANs (Admins)"
            destination {
            }
            log disable
            protocol all
            source {
                group {
                    address-group CLIENTS_ADMIN
                }
            }
        }
        rule 80 {
            action drop
            description "Deny access to the internal LANs"
            destination {
                group {
                    address-group NETWORKS_RFC1918
                }
            }
            log disable
            protocol all
        }
    }
    name LAN_PERSONAL_LOCAL {
        default-action drop
        description "Personal clients to EdgeRouter"
        rule 10 {
            action accept
            description "Allow access to the DHCP server"
            destination {
                group {
                    port-group PORTS_DHCP
                }
            }
            log disable
            protocol udp
        }
        rule 20 {
            action accept
            description "Allow access to the mDNS repeater"
            destination {
                group {
                    port-group PORTS_MDNS
                }
            }
            log disable
            protocol udp
        }
        rule 30 {
            action accept
            description "Allow access to the EdgeRouter (Admins)"
            log disable
            protocol all
            source {
                group {
                    address-group CLIENTS_ADMIN
                }
            }
        }
    }
    name WAN_INTERNET_IN {
        default-action drop
        description "Internet to LANs"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action drop
            description "Deny invalid state"
            log disable
            protocol all
            state {
                invalid enable
            }
        }
    }
    name WAN_INTERNET_LOCAL {
        default-action drop
        description "Internet to EdgeRouter"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action drop
            description "Deny invalid state"
            log disable
            protocol all
            state {
                invalid enable
            }
        }
    }
    name WAN_INTERNET_OUT {
        default-action accept
        description "LANs to Internet"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                invalid disable
                new disable
                related enable
            }
        }
        rule 20 {
            action drop
            description "Deny invalid state"
            log disable
            protocol all
            state {
                established disable
                invalid enable
                new disable
                related disable
            }
        }
        rule 30 {
            action accept
            description "Allow access to external DNS Servers by internal DNS servers"
            destination {
                group {
                    port-group PORTS_DNS
                }
            }
            log disable
            protocol tcp_udp
            source {
                group {
                    address-group SERVERS_DNS
                }
            }
        }
        rule 40 {
            action drop
            description "Deny access to external DNS servers"
            destination {
                group {
                    port-group PORTS_DNS
                }
            }
            log disable
            protocol tcp_udp
            source {
                group {
                }
            }
        }
    }
    receive-redirects disable
    send-redirects enable
    source-validation disable
    syn-cookies enable
}
interfaces {
    ethernet eth0 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth1 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth2 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth3 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth4 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth5 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth6 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth7 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth8 {
        address 192.168.1.254/24
        description "TV-BoxHD"
        duplex auto
        firewall {
            in {
                modify LAN_IPTV_IN
            }
        }
        speed auto
    }
    ethernet eth9 {
        description "UF-Loco"
        duplex auto
        poe {
            output 24v
        }
        speed auto
        vif 100 {
            address dhcp
            description "WAN: Internet"
            dhcp-options {
                default-route update
                default-route-distance 210
                name-server no-update
            }
            firewall {
                in {
                    name WAN_INTERNET_IN
                }
                local {
                    name WAN_INTERNET_LOCAL
                }
                out {
                    name WAN_INTERNET_OUT
                }
            }
        }
        vif 105 {
            address dhcp
            description "WAN: IPTV"
            dhcp-options {
                default-route no-update
                default-route-distance 210
                name-server no-update
            }
        }
    }
    ethernet eth10 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth11 {
        address 10.0.1.254/24
        description "USW-16-PoE"
        duplex auto
        speed auto
        vif 10 {
            address 10.0.10.254/24
            description "VLAN: Personal"
            firewall {
                in {
                    name LAN_PERSONAL_IN
                }
                local {
                    name LAN_PERSONAL_LOCAL
                }
            }
            mtu 1500
        }
        vif 80 {
            address 10.0.80.254/24
            description "VLAN: IoT"
            firewall {
                in {
                    name LAN_IOT_IN
                }
                local {
                    name LAN_IOT_LOCAL
                }
            }
            mtu 1500
        }
        vif 90 {
            address 10.0.90.254/24
            description "VLAN: Guests"
            firewall {
                in {
                    name LAN_GUESTS_IN
                }
                local {
                    name LAN_GUESTS_LOCAL
                }
            }
            mtu 1500
        }
    }
    loopback lo {
    }
    switch switch0 {
        mtu 1500
    }
}
protocols {
    igmp-proxy {
        interface eth8 {
            alt-subnet 192.168.1.0/24
            role downstream
            threshold 1
        }
        interface eth9.105 {
            alt-subnet 10.0.0.0/8
            alt-subnet 224.0.0.0/4
            role upstream
            threshold 1
        }
    }
    static {
        route 100.64.0.0/10 {
            next-hop 10.0.1.1 {
                description "Tailscale subnet routing"
            }
        }
        table 105 {
            route 0.0.0.0/0 {
                next-hop 10.65.0.1 {
                    description "IPTV subnet routing"
                }
            }
        }
    }
}
service {
    dhcp-server {
        disabled false
        hostfile-update disable
        shared-network-name LAN_GUESTS {
            authoritative enable
            subnet 10.0.90.0/24 {
                default-router 10.0.90.254
                lease 28800
                start 10.0.90.200 {
                    stop 10.0.90.249
                }
            }
        }
        shared-network-name LAN_IOT {
            authoritative enable
            subnet 10.0.80.0/24 {
                default-router 10.0.80.254
                domain-name {{ config_network_domain }}
                lease 86400
                start 10.0.80.230 {
                    stop 10.0.80.239
                }
                static-mapping DMP-BraviaA90J {
                    ip-address 10.0.80.200
                    mac-address 7c:c2:c6:10:86:51
                }
                static-mapping DMP-ShieldTV2015 {
                    ip-address 10.0.80.205
                    mac-address 00:04:4b:48:45:77
                }
                static-mapping LED-TapoL530E-1 {
                    ip-address 10.0.80.71
                    mac-address 5c:a6:e6:6d:0d:26
                }
                static-mapping PLG-TapoP100-1 {
                    ip-address 10.0.80.51
                    mac-address d8:47:32:44:92:94
                }
                static-mapping PLG-TapoP110-1 {
                    ip-address 10.0.80.52
                    mac-address 6c:5a:b0:ef:2a:39
                }
                static-mapping RBT-Roombai7 {
                    ip-address 10.0.80.11
                    mac-address 50:14:79:1c:3c:8e
                }
                static-mapping SNR-AwairElement {
                    ip-address 10.0.80.31
                    mac-address 70:88:6b:14:4f:f9
                }
                static-mapping SNR-WithingsBodyPlus {
                    ip-address 10.0.80.32
                    mac-address 00:24:e4:d9:b0:a4
                }
            }
        }
        shared-network-name LAN_IPTV {
            authoritative disable
            subnet 192.168.1.254/24 {
                default-router 192.168.1.254
                dns-server 87.103.119.196
                dns-server 213.30.36.212
                lease 86400
                start 192.168.1.65 {
                    stop 192.168.1.100
                }
            }
        }
        shared-network-name LAN_MANAGEMENT {
            authoritative disable
            subnet 10.0.1.254/24 {
                default-router 10.0.1.254
                domain-name {{ config_network_domain }}
                lease 86400
                start 10.0.1.230 {
                    stop 10.0.1.239
                }
                static-mapping SYN-DiskStation {
                    ip-address 10.0.1.25
                    mac-address 00:11:32:7b:9a:85
                }
                static-mapping SYS-RaspberryPi-1 {
                    ip-address 10.0.1.1
                    mac-address dc:a6:32:09:d7:60
                }
                static-mapping UAP-InWallHD-1 {
                    ip-address 10.0.1.221
                    mac-address 24:5a:4c:62:29:37
                }
                static-mapping UAP-U6InWall-1 {
                    ip-address 10.0.1.201
                    mac-address 70:a7:41:ec:72:83
                }
                static-mapping USW-16-PoE {
                    ip-address 10.0.1.100
                    mac-address 70:a7:41:a3:f8:26
                }
                static-mapping USW-FlexMini-1 {
                    ip-address 10.0.1.121
                    mac-address 24:5a:4c:10:71:97
                }
                unifi-controller 10.0.1.1
            }
        }
        shared-network-name LAN_PERSONAL {
            authoritative enable
            subnet 10.0.10.0/24 {
                default-router 10.0.10.254
                domain-name {{ config_network_domain }}
                lease 86400
                start 10.0.10.230 {
                    stop 10.0.10.239
                }
                static-mapping MMC-MacBookPro {
                    ip-address 10.0.10.22
                    mac-address f0:18:98:93:23:ee
                }
                static-mapping MMC-NintendoSwitch {
                    ip-address 10.0.10.25
                    mac-address 7c:bb:8a:ac:9f:e9
                }
                static-mapping MMC-WatchSeries5 {
                    ip-address 10.0.10.24
                    mac-address 90:81:2a:d0:16:70
                }
                static-mapping MMC-iPad4 {
                    ip-address 10.0.10.23
                    mac-address 04:e5:36:24:f6:fe
                }
                static-mapping MMC-iPhone8Plus {
                    ip-address 10.0.10.21
                    mac-address 6c:4d:73:96:f7:39
                }
                static-mapping RFA-DellLaptop {
                    ip-address 10.0.10.13
                    mac-address f8:94:c2:08:d4:1e
                }
                static-mapping RFA-DesktopPC {
                    ip-address 10.0.10.12
                    mac-address b4:2e:99:99:81:a0
                }
                static-mapping RFA-GarminVenu2S {
                    ip-address 10.0.10.16
                    mac-address 90:f1:57:8b:4c:a6
                }
                static-mapping RFA-GooglePixel6 {
                    ip-address 10.0.10.11
                    mac-address dc:e5:5b:25:bc:fe
                }
                static-mapping RFA-NintendoSwitchLite {
                    ip-address 10.0.10.14
                    mac-address 98:41:5c:71:96:99
                }
                static-mapping RFA-PlayStation5 {
                    ip-address 10.0.10.15
                    mac-address 78:c8:81:bb:b6:66
                }
            }
        }
        static-arp disable
        use-dnsmasq enable
    }
    dns {
        forwarding {
            cache-size 150
            listen-on eth11
            listen-on eth11.10
            listen-on eth11.80
            listen-on eth11.90
            name-server 10.0.1.1
            options all-servers
            options bogus-priv
            options domain-needed
            options expand-hosts
            options addn-hosts=/config/user-data/dnsmasq/hosts
            options dhcp-option=tag:LANGUESTS,option:dns-server,10.0.1.1,10.0.1.1
            options dhcp-option=tag:LANIOT,option:dns-server,10.0.1.1,10.0.1.1
            options dhcp-option=tag:LANMANAGEMENT,option:dns-server,10.0.1.1,10.0.1.1
            options dhcp-option=tag:LANPERSONAL,option:dns-server,10.0.1.1,10.0.1.1
        }
    }
    gui {
        http-port 80
        https-port 443
        older-ciphers disable
    }
    mdns {
        repeater {
            interface eth11.10
            interface eth11.80
        }
    }
    nat {
        rule 4010 {
            description "Captive DNS: Personal"
            destination {
                address !10.0.1.1
                port 53
            }
            inbound-interface eth11.10
            inside-address {
                address 10.0.1.1
                port 53
            }
            log disable
            protocol tcp_udp
            type destination
        }
        rule 4020 {
            description "Captive DNS: IoT"
            destination {
                address !10.0.1.1
                port 53
            }
            inbound-interface eth11.80
            inside-address {
                address 10.0.1.1
                port 53
            }
            log disable
            protocol tcp_udp
            type destination
        }
        rule 4030 {
            description "Captive DNS: Guests"
            destination {
                address !10.0.1.1
                port 53
            }
            inbound-interface eth11.90
            inside-address {
                address 10.0.1.1
                port 53
            }
            log disable
            protocol tcp_udp
            type destination
        }
        rule 5010 {
            description "Masquerade for WAN: Internet"
            log disable
            outbound-interface eth9.100
            protocol all
            source {
                group {
                    address-group NETWORKS_HOME
                }
            }
            type masquerade
        }
        rule 5020 {
            description "Masquerade for WAN: IPTV"
            log disable
            outbound-interface eth9.105
            protocol all
            source {
                group {
                    address-group NETWORKS_IPTV
                }
            }
            type masquerade
        }
    }
    ssh {
        disable-password-authentication
        port 22
        protocol-version v2
    }
    ubnt-discover {
        disable
    }
    unms {
        disable
    }
}
system {
    analytics-handler {
        send-analytics-report false
    }
    crash-handler {
        send-crash-report false
    }
    host-name UBNTER12
    ip {
        override-hostname-ip 10.0.1.254
    }
    ipv6 {
        disable
    }
    login {
        user {{ config_admin_user_name }} {
            authentication {
                plaintext-password {{ config_admin_user_pass }}
                public-keys BLACKBOX {
                    key {{ config_admin_user_public_key }}
                    type ssh-rsa
                }
            }
            full-name "Ricardo Amaral"
            level admin
        }
    }
    name-server 127.0.0.1
    ntp {
        server 0.europe.pool.ntp.org {
        }
        server 1.europe.pool.ntp.org {
        }
        server 2.europe.pool.ntp.org {
        }
        server 3.europe.pool.ntp.org {
        }
    }
    offload {
        hwnat disable
        ipsec enable
        ipv4 {
            forwarding enable
            vlan enable
        }
        ipv6 {
            forwarding enable
            vlan enable
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    task-scheduler {
        task mirror-static-mappings-to-hosts {
            crontab-spec "* * * * *"
            executable {
                arguments /config/user-data/dnsmasq/hosts
                path /config/scripts/mirror-static-mappings-to-hosts.py
            }
        }
        task update-iptv-routing-table {
            crontab-spec "*/5 * * * *"
            executable {
                path /config/scripts/update-iptv-routing-table.sh
            }
        }
    }
    time-zone Europe/Lisbon
    traffic-analysis {
        dpi enable
        export enable
    }
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "config-management@1:conntrack@1:cron@1:dhcp-relay@1:dhcp-server@4:firewall@5:ipsec@5:nat@3:qos@1:quagga@2:suspend@1:system@5:ubnt-l2tp@1:ubnt-pptp@1:ubnt-udapi-server@1:ubnt-unms@2:ubnt-util@1:vrrp@1:vyatta-netflow@1:webgui@1:webproxy@1:zone-policy@1" === */
/* Release version: v2.0.9-hotfix.6.5574652.221230.1020 */
