firewall {
    all-ping enable
    broadcast-ping disable
    group {
        address-group CLIENTS_PLEX {
            address 10.0.80.200
            address 10.0.80.205
            description "Plex clients addresses"
        }
        address-group CLIENTS_TRUSTED {
            address 10.0.10.11
            address 10.0.10.12
            address 10.0.10.13
            address 10.0.10.200
            description "Trusted clients addresses"
        }
        address-group NETWORKS_HOME {
            address 10.0.10.0/24
            address 10.0.80.0/24
            address 10.0.90.0/24
            description "Home private networks"
        }
        address-group NETWORKS_RFC1918 {
            address 192.168.0.0/16
            address 172.16.0.0/12
            address 10.0.0.0/8
            description "RFC1918 private networks"
        }
        address-group NETWORK_IPTV {
            address 192.168.1.0/24
            description "IPTV private network"
        }
    }
    ipv6-receive-redirects disable
    ipv6-src-route disable
    ip-src-route disable
    log-martians enable
    modify LAN_IPTV_IN {
        description "IPTV clients to LANs/Internet"
        rule 10 {
            action modify
            description "Forward IPTV traffic to the IPTV network"
            modify {
                table 105
            }
            source {
                group {
                    address-group NETWORK_IPTV
                }
            }
        }
    }
    name LAN_GUESTS_IN {
        default-action accept
        description "Guest clients to LANs/Internet"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action accept
            description "Allow access to the DNS server"
            destination {
                address 10.0.10.200
                port 53
            }
            log disable
            protocol tcp_udp
        }
        rule 30 {
            action drop
            description "Deny access to all internal LANs"
            destination {
                group {
                    address-group NETWORKS_RFC1918
                }
            }
            log disable
            protocol all
        }
    }
    name LAN_GUESTS_LOCAL {
        default-action drop
        description "Guest clients to EdgeRouter"
        rule 10 {
            action accept
            description "Allow access to the DHCP server"
            destination {
                port 67
            }
            log disable
            protocol udp
        }
    }
    name LAN_IOT_IN {
        default-action accept
        description "IoT clients to LANs/Internet"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action accept
            description "Allow access to the DNS server"
            destination {
                address 10.0.10.200
                port 53
            }
            log disable
            protocol tcp_udp
        }
        rule 30 {
            action accept
            description "Allow access to the Plex Media Server"
            destination {
                address 10.0.10.205
                port 32400
            }
            log disable
            protocol tcp_udp
            source {
                group {
                    address-group CLIENTS_PLEX
                }
            }
        }
        rule 40 {
            action drop
            description "Deny access to all internal LANs"
            destination {
                group {
                    address-group NETWORKS_RFC1918
                }
            }
            log disable
            protocol all
        }
    }
    name LAN_IOT_LOCAL {
        default-action drop
        description "IoT clients to EdgeRouter"
        rule 10 {
            action accept
            description "Allow access to the DHCP server"
            destination {
                port 67
            }
            log disable
            protocol udp
        }
        rule 20 {
            action accept
            description "Allow access to the mDNS repeater"
            destination {
                port 5353
            }
            log disable
            protocol udp
        }
    }
    name LAN_PERSONAL_IN {
        default-action accept
        description "Personal clients to LANs/Internet"
    }
    name LAN_PERSONAL_LOCAL {
        default-action accept
        description "Personal clients to EdgeRouter"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action accept
            description "Allow access to the DNS server"
            destination {
                port 53
            }
            log disable
            protocol tcp_udp
            source {
                group {
                    address-group CLIENTS_TRUSTED
                }
            }
        }
        rule 30 {
            action accept
            description "Allow access to the SSH server"
            destination {
                port 22
            }
            log disable
            protocol tcp
            source {
                group {
                    address-group CLIENTS_TRUSTED
                }
            }
        }
        rule 40 {
            action accept
            description "Allow access to the Web UI"
            destination {
                port 80,443
            }
            log disable
            protocol tcp
            source {
                group {
                    address-group CLIENTS_TRUSTED
                }
            }
        }
        rule 50 {
            action drop
            description "Deny access to the DNS server"
            destination {
                port 53
            }
            log disable
            protocol tcp_udp
            source {
                group {
                    address-group NETWORKS_RFC1918
                }
            }
        }
        rule 60 {
            action drop
            description "Deny access to the SSH server"
            destination {
                port 22
            }
            log disable
            protocol tcp
            source {
                group {
                    address-group NETWORKS_RFC1918
                }
            }
        }
        rule 70 {
            action drop
            description "Deny access to the Web UI"
            destination {
                port 80,443
            }
            log disable
            protocol tcp
            source {
                group {
                    address-group NETWORKS_RFC1918
                }
            }
        }
    }
    name WAN_INTERNET_IN {
        default-action drop
        description "Internet to LANs"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action drop
            description "Deny invalid state"
            log disable
            protocol all
            state {
                invalid enable
            }
        }
    }
    name WAN_INTERNET_LOCAL {
        default-action drop
        description "Internet to EdgeRouter"
        rule 10 {
            action accept
            description "Allow established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action drop
            description "Deny invalid state"
            log disable
            protocol all
            state {
                invalid enable
            }
        }
    }
    receive-redirects disable
    send-redirects enable
    source-validation disable
    syn-cookies enable
}
interfaces {
    ethernet eth0 {
        description "RFA-DesktopPC"
        duplex auto
        speed auto
    }
    ethernet eth1 {
        description "LAB-RaspberryPi"
        duplex auto
        speed auto
    }
    ethernet eth2 {
        description "LAB-DiskStation"
        duplex auto
        speed auto
    }
    ethernet eth3 {
        description "USW-FlexMini-1"
        duplex auto
        speed auto
    }
    ethernet eth4 {
        description "UAP-InWallHD-1"
        duplex auto
        speed auto
    }
    ethernet eth5 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth6 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth7 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth8 {
        address 192.168.1.254/24
        description "TV-boxHD"
        duplex auto
        firewall {
            in {
                modify LAN_IPTV_IN
            }
        }
        speed auto
    }
    ethernet eth9 {
        description "WAN"
        duplex auto
        poe {
            output 24v
        }
        speed auto
        vif 100 {
            address dhcp
            description "WAN: Internet"
            dhcp-options {
                default-route update
                default-route-distance 210
                name-server no-update
            }
            firewall {
                in {
                    name WAN_INTERNET_IN
                }
                local {
                    name WAN_INTERNET_LOCAL
                }
            }
        }
        vif 105 {
            address dhcp
            description "WAN: IPTV"
            dhcp-options {
                default-route no-update
                default-route-distance 210
                name-server no-update
            }
        }
    }
    ethernet eth10 {
        disable
        duplex auto
        speed auto
    }
    ethernet eth11 {
        disable
        duplex auto
        speed auto
    }
    loopback lo {
    }
    switch switch0 {
        description "VLAN"
        switch-port {
            interface eth0 {
                vlan {
                    pvid 10
                }
            }
            interface eth1 {
                vlan {
                    pvid 10
                }
            }
            interface eth2 {
                vlan {
                    pvid 10
                }
            }
            interface eth3 {
                vlan {
                    pvid 10
                    vid 80
                    vid 90
                }
            }
            interface eth4 {
                vlan {
                    pvid 10
                    vid 80
                    vid 90
                }
            }
            interface eth5 {
                vlan {
                    pvid 10
                }
            }
            interface eth6 {
                vlan {
                    pvid 10
                }
            }
            interface eth7 {
                vlan {
                    pvid 10
                }
            }
            vlan-aware enable
        }
        vif 10 {
            address 10.0.10.254/24
            description "VLAN: Personal"
            firewall {
                in {
                    name LAN_PERSONAL_IN
                }
                local {
                    name LAN_PERSONAL_LOCAL
                }
            }
        }
        vif 80 {
            address 10.0.80.254/24
            description "VLAN: IoT"
            firewall {
                in {
                    name LAN_IOT_IN
                }
                local {
                    name LAN_IOT_LOCAL
                }
            }
        }
        vif 90 {
            address 10.0.90.254/24
            description "VLAN: Guests"
            firewall {
                in {
                    name LAN_GUESTS_IN
                }
                local {
                    name LAN_GUESTS_LOCAL
                }
            }
        }
    }
}
protocols {
    igmp-proxy {
        interface eth8 {
            alt-subnet 192.168.1.0/24
            role downstream
            threshold 1
        }
        interface eth9.105 {
            alt-subnet 10.0.0.0/8
            alt-subnet 224.0.0.0/4
            role upstream
            threshold 1
        }
    }
    static {
        route 100.64.0.0/10 {
            next-hop 10.0.10.200 {
                description "Tailscale subnet routing"
            }
        }
        table 105 {
            route 0.0.0.0/0 {
                next-hop 10.65.0.1 {
                    description "IPTV subnet routing"
                }
            }
        }
    }
}
service {
    dhcp-server {
        disabled false
        hostfile-update disable
        shared-network-name LAN_GUESTS {
            authoritative enable
            subnet 10.0.90.0/24 {
                default-router 10.0.90.254
                lease 28800
                start 10.0.90.200 {
                    stop 10.0.90.249
                }
            }
        }
        shared-network-name LAN_IOT {
            authoritative enable
            subnet 10.0.80.0/24 {
                default-router 10.0.80.254
                domain-name {{ config_network_domain }}
                lease 86400
                start 10.0.80.230 {
                    stop 10.0.80.239
                }
                static-mapping DMP-BraviaA90J {
                    ip-address 10.0.80.200
                    mac-address 7C:C2:C6:10:86:51
                }
                static-mapping DMP-ShieldTV2015 {
                    ip-address 10.0.80.205
                    mac-address 00:04:4B:48:45:77
                }
                static-mapping LED-TapoL530E-1 {
                    ip-address 10.0.80.71
                    mac-address 5C:A6:E6:6D:0D:26
                }
                static-mapping PLG-TapoP100-1 {
                    ip-address 10.0.80.51
                    mac-address D8:47:32:44:92:94
                }
                static-mapping PLG-TapoP110-1 {
                    ip-address 10.0.80.52
                    mac-address 6C:5A:B0:EF:2A:39
                }
                static-mapping RBT-Roombai7 {
                    ip-address 10.0.80.11
                    mac-address 50:14:79:1C:3C:8E
                }
                static-mapping SNR-AwairElement {
                    ip-address 10.0.80.31
                    mac-address 70:88:6B:14:4F:F9
                }
                static-mapping SNR-WithingsBodyPlus {
                    ip-address 10.0.80.32
                    mac-address 00:24:E4:D9:B0:A4
                }
            }
        }
        shared-network-name LAN_IPTV {
            authoritative disable
            subnet 192.168.1.254/24 {
                default-router 192.168.1.254
                dns-server 87.103.119.196
                dns-server 213.30.36.212
                lease 86400
                start 192.168.1.65 {
                    stop 192.168.1.100
                }
            }
        }
        shared-network-name LAN_PERSONAL {
            authoritative enable
            subnet 10.0.10.0/24 {
                default-router 10.0.10.254
                domain-name {{ config_network_domain }}
                lease 86400
                start 10.0.10.230 {
                    stop 10.0.10.239
                }
                static-mapping LAB-DiskStation {
                    ip-address 10.0.10.205
                    mac-address 00:11:32:7B:9A:85
                }
                static-mapping LAB-RaspberryPi {
                    ip-address 10.0.10.200
                    mac-address DC:A6:32:09:D7:60
                }
                static-mapping MMC-MacBookPro {
                    ip-address 10.0.10.22
                    mac-address F0:18:98:93:23:EE
                }
                static-mapping MMC-NintendoSwitch {
                    ip-address 10.0.10.25
                    mac-address 7C:BB:8A:AC:9F:E9
                }
                static-mapping MMC-WatchSeries5 {
                    ip-address 10.0.10.24
                    mac-address 90:81:2A:D0:16:70
                }
                static-mapping MMC-iPad4 {
                    ip-address 10.0.10.23
                    mac-address 04:E5:36:24:F6:FE
                }
                static-mapping MMC-iPhone8Plus {
                    ip-address 10.0.10.21
                    mac-address 6C:4D:73:96:F7:39
                }
                static-mapping RFA-DellLaptop {
                    ip-address 10.0.10.13
                    mac-address F8:94:C2:08:D4:1E
                }
                static-mapping RFA-DesktopPC {
                    ip-address 10.0.10.12
                    mac-address B4:2E:99:99:81:A0
                }
                static-mapping RFA-GooglePixel6 {
                    ip-address 10.0.10.11
                    mac-address DC:E5:5B:25:BC:FE
                }
                static-mapping RFA-NintendoSwitchLite {
                    ip-address 10.0.10.14
                    mac-address 98:41:5C:71:96:99
                }
                static-mapping RFA-PlayStation5 {
                    ip-address 10.0.10.15
                    mac-address 78:C8:81:BB:B6:66
                }
                static-mapping UAP-InWallHD-1 {
                    ip-address 10.0.10.240
                    mac-address 24:5A:4C:62:29:37
                }
                static-mapping UAP-U6InWall-1 {
                    ip-address 10.0.10.235
                    mac-address 70:A7:41:EC:72:83
                }
                static-mapping USW-16-PoE {
                    ip-address 10.0.10.250
                    mac-address 70:A7:41:A3:F8:26
                }
                static-mapping USW-FlexMini-1 {
                    ip-address 10.0.10.245
                    mac-address 24:5A:4C:10:71:97
                }
            }
        }
        static-arp disable
        use-dnsmasq enable
    }
    dns {
        forwarding {
            cache-size 1500
            listen-on switch0.10
            listen-on switch0.80
            listen-on switch0.90
            name-server 1.1.1.1
            name-server 1.0.0.1
            options all-servers
            options bogus-priv
            options domain-needed
            options expand-hosts
            options addn-hosts=/config/user-data/dnsmasq/hosts
            options dhcp-option=tag:LANGUESTS,option:dns-server,10.0.10.200,10.0.10.200
            options dhcp-option=tag:LANIOT,option:dns-server,10.0.10.200,10.0.10.200
            options dhcp-option=tag:LANPERSONAL,option:dns-server,10.0.10.200,10.0.10.200
        }
    }
    gui {
        http-port 80
        https-port 443
        older-ciphers disable
    }
    mdns {
        repeater {
            interface switch0.10
            interface switch0.80
        }
    }
    nat {
        rule 5010 {
            description "Masquerade for WAN: Internet"
            log disable
            outbound-interface eth9.100
            protocol all
            source {
                group {
                    address-group NETWORKS_HOME
                }
            }
            type masquerade
        }
        rule 5020 {
            description "Masquerade for WAN: IPTV"
            log disable
            outbound-interface eth9.105
            protocol all
            source {
                group {
                    address-group NETWORK_IPTV
                }
            }
            type masquerade
        }
    }
    ssh {
        disable-password-authentication
        port 22
        protocol-version v2
    }
    ubnt-discover {
        disable
    }
    unms {
        disable
    }
}
system {
    analytics-handler {
        send-analytics-report false
    }
    crash-handler {
        send-crash-report false
    }
    host-name UBNTER12
    ip {
        override-hostname-ip 10.0.10.254
    }
    ipv6 {
        disable
    }
    login {
        user {{ config_admin_user_name }} {
            authentication {
                plaintext-password {{ config_admin_user_pass }}
                public-keys BLACKBOX {
                    key {{ config_admin_user_public_key }}
                    type ssh-rsa
                }
            }
            full-name "Ricardo Amaral"
            level admin
        }
    }
    name-server 127.0.0.1
    ntp {
        server 0.europe.pool.ntp.org {
        }
        server 1.europe.pool.ntp.org {
        }
        server 2.europe.pool.ntp.org {
        }
        server 3.europe.pool.ntp.org {
        }
    }
    offload {
        hwnat disable
        ipsec enable
        ipv4 {
            forwarding enable
            vlan enable
        }
        ipv6 {
            forwarding enable
            vlan enable
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    task-scheduler {
        task mirror-static-mappings-to-hosts {
            crontab-spec "* * * * *"
            executable {
                arguments /config/user-data/dnsmasq/hosts
                path /config/scripts/mirror-static-mappings-to-hosts.py
            }
        }
        task update-iptv-routing-table {
            crontab-spec "*/5 * * * *"
            executable {
                path /config/scripts/update-iptv-routing-table.sh
            }
        }
    }
    time-zone Europe/Lisbon
    traffic-analysis {
        dpi enable
        export enable
    }
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "config-management@1:conntrack@1:cron@1:dhcp-relay@1:dhcp-server@4:firewall@5:ipsec@5:nat@3:qos@1:quagga@2:suspend@1:system@5:ubnt-l2tp@1:ubnt-pptp@1:ubnt-udapi-server@1:ubnt-unms@2:ubnt-util@1:vrrp@1:vyatta-netflow@1:webgui@1:webproxy@1:zone-policy@1" === */
/* Release version: v2.0.9-hotfix.4.5521907.220630.0658 */
