bind_host: 0.0.0.0
bind_port: 80
users: []
auth_attempts: 5
block_auth_min: 15
http_proxy: ''
language: en
theme: auto
debug_pprof: false
web_session_ttl: 720
dns:
  bind_hosts:
    - 0.0.0.0
  port: 53
  anonymize_client_ip: false
  protection_enabled: true
  blocking_mode: default
  blocking_ipv4: ''
  blocking_ipv6: ''
  blocked_response_ttl: 10
  protection_disabled_until: null
  parental_block_host: family-block.dns.adguard.com
  safebrowsing_block_host: standard-block.dns.adguard.com
  ratelimit: 20
  ratelimit_whitelist: []
  refuse_any: true
  upstream_dns:
    - '# [main] Cloudflare DNS server (DNS-over-TLS)'
    - tls://1dot1dot1dot1.cloudflare-dns.com
    - '# [specific] Router DNS for `{{ config_network_domain }}` domain'
    - '[/{{ config_network_domain }}/]10.0.1.254:53'
    - '# [specific] Router DNS for unqualified names only'
    - '[//]10.0.1.254:53'
  upstream_dns_file: ''
  bootstrap_dns:
    - 1.1.1.1
    - 1.0.0.1
  all_servers: false
  fastest_addr: false
  fastest_timeout: 1s
  allowed_clients: []
  disallowed_clients: []
  blocked_hosts:
    - hostname.bind
    - id.server
    - local
    - version.bind
  trusted_proxies:
    - 127.0.0.0/8
    - ::1/128
  cache_size: 4194304
  cache_ttl_min: 0
  cache_ttl_max: 0
  cache_optimistic: false
  bogus_nxdomain: []
  aaaa_disabled: false
  enable_dnssec: true
  edns_client_subnet:
    custom_ip: ''
    enabled: false
    use_custom: false
  max_goroutines: 300
  handle_ddr: true
  ipset: []
  ipset_file: ''
  bootstrap_prefer_ipv6: false
  filtering_enabled: true
  filters_update_interval: 24
  parental_enabled: true
  safebrowsing_enabled: true
  safebrowsing_cache_size: 1048576
  safesearch_cache_size: 1048576
  parental_cache_size: 1048576
  cache_time: 30
  safe_search:
    enabled: true
    bing: true
    duckduckgo: true
    google: true
    pixabay: true
    yandex: true
    youtube: true
  rewrites:
    - domain: adguard.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: authelia.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: bazarr.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: dsm.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: files.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: gateway.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: nzbhydra2.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: overseerr.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: plex.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: radarr.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: sabnzbd.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: sonarr.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: tautulli.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: traefik.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: unifi.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: webdav.{{ config_network_domain }}
      answer: polymerbox.{{ config_network_domain }}
    - domain: local.todoist.com
      answer: 127.0.0.1
    - domain: local.twist.com
      answer: 127.0.0.1
  blocked_services:
    schedule:
      time_zone: Europe/Lisbon
    ids: []
  upstream_timeout: 10s
  private_networks: []
  use_private_ptr_resolvers: true
  local_ptr_upstreams: []
  use_dns64: false
  dns64_prefixes: []
  serve_http3: false
  use_http3_upstreams: false
tls:
  enabled: false
  server_name: adguard.{{ config_network_domain }}
  force_https: false
  port_https: 443
  port_dns_over_tls: 853
  port_dns_over_quic: 784
  port_dnscrypt: 0
  dnscrypt_config_file: ''
  allow_unencrypted_doh: true
  certificate_chain: ''
  private_key: ''
  certificate_path: /etc/ssl/certs/{{ config_network_domain }}.pem
  private_key_path: /etc/ssl/private/{{ config_network_domain }}.pem
  strict_sni_check: false
querylog:
  ignored:
    - adguard.{{ config_network_domain }}
    - authelia.{{ config_network_domain }}
    - bazarr.{{ config_network_domain }}
    - dsm.{{ config_network_domain }}
    - files.{{ config_network_domain }}
    - gateway.{{ config_network_domain }}
    - hypercube.{{ config_network_domain }}
    - nzbhydra2.{{ config_network_domain }}
    - overseerr.{{ config_network_domain }}
    - plex.{{ config_network_domain }}
    - polymerbox.{{ config_network_domain }}
    - radarr.{{ config_network_domain }}
    - sabnzbd.{{ config_network_domain }}
    - sonarr.{{ config_network_domain }}
    - tautulli.{{ config_network_domain }}
    - traefik.{{ config_network_domain }}
    - unifi.{{ config_network_domain }}
    - webdav.{{ config_network_domain }}
    - wpad.{{ config_network_domain }}
    - local.todoist.com
    - local.twist.com
  interval: 168h
  size_memory: 1000
  enabled: true
  file_enabled: true
statistics:
  ignored:
    - adguard.{{ config_network_domain }}
    - authelia.{{ config_network_domain }}
    - bazarr.{{ config_network_domain }}
    - dsm.{{ config_network_domain }}
    - files.{{ config_network_domain }}
    - gateway.{{ config_network_domain }}
    - hypercube.{{ config_network_domain }}
    - nzbhydra2.{{ config_network_domain }}
    - overseerr.{{ config_network_domain }}
    - plex.{{ config_network_domain }}
    - polymerbox.{{ config_network_domain }}
    - radarr.{{ config_network_domain }}
    - sabnzbd.{{ config_network_domain }}
    - sonarr.{{ config_network_domain }}
    - tautulli.{{ config_network_domain }}
    - traefik.{{ config_network_domain }}
    - unifi.{{ config_network_domain }}
    - webdav.{{ config_network_domain }}
    - wpad.{{ config_network_domain }}
    - local.todoist.com
    - local.twist.com
  interval: 720h
  enabled: true
filters:
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
    name: AdGuard DNS filter
    id: 1676463464
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_6.txt
    name: Dandelion Sprout's Game Console Adblock List
    id: 1676463466
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_8.txt
    name: NoCoin Filter List
    id: 1676463467
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_27.txt
    name: OISD Blocklist Full
    id: 1676463469
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_7.txt
    name: Perflyst and Dandelion Sprout's Smart-TV Blocklist
    id: 1676463470
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_23.txt
    name: WindowsSpyBlocker - Hosts spy rules
    id: 1676463471
whitelist_filters: []
user_rules:
  - '# Windows Insider Program (https://insider.windows.com/)'
  - '@@||insideruser.microsoft.com^$important'
  - '# Tailscale Machine IPs (https://tailscale.com/)'
  - '|hypercube.{{ config_network_domain }}^$client=100.64.0.0/10,dnsrewrite=NOERROR;A;100.92.108.77'
  - '|polymerbox.{{ config_network_domain }}^$client=100.64.0.0/10,dnsrewrite=NOERROR;A;100.78.45.65'
dhcp:
  enabled: false
  interface_name: ''
  local_domain_name: '{{ config_network_domain }}'
  dhcpv4:
    gateway_ip: ''
    subnet_mask: ''
    range_start: ''
    range_end: ''
    lease_duration: 86400
    icmp_timeout_msec: 1000
    options: []
  dhcpv6:
    range_start: ''
    lease_duration: 86400
    ra_slaac_only: false
    ra_allow_slaac: false
clients:
  runtime_sources:
    whois: true
    arp: true
    rdns: true
    dhcp: true
    hosts: true
  persistent:
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: APP-Roombai7
      ids:
        - 10.0.80.11
      tags:
        - device_other
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: APP-CosoriAirFryer
      ids:
        - 10.0.80.12
      tags:
        - device_other
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: CAM-ReolinkE1Pro-Garage
      ids:
        - 10.0.80.95
      tags:
        - device_camera
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: CAM-ReolinkE1Pro-LivingRoom
      ids:
        - 10.0.80.91
      tags:
        - device_camera
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: true
        bing: true
        duckduckgo: true
        google: true
        pixabay: true
        yandex: true
        youtube: true
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: DMP-BraviaA90J
      ids:
        - 10.0.80.200
      tags:
        - device_tv
        - os_android
        - user_regular
      upstreams: []
      use_global_settings: false
      filtering_enabled: true
      parental_enabled: true
      safebrowsing_enabled: true
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: DMP-ShieldTV2015
      ids:
        - 10.0.80.205
      tags:
        - device_other
        - os_android
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: LED-TapoL530E-Couch
      ids:
        - 10.0.80.71
      tags:
        - device_other
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: MMC-MacBookPro
      ids:
        - 10.0.10.22
        - 100.108.10.116
      tags:
        - device_laptop
        - os_macos
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: MMC-NintendoSwitch
      ids:
        - 10.0.10.25
      tags:
        - device_gameconsole
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: MMC-WatchSeries5
      ids:
        - 10.0.10.24
      tags:
        - device_other
        - os_ios
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: MMC-iMac-PoC
      ids:
        - 100.81.56.66
      tags:
        - device_pc
        - os_macos
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: MMC-iPad4
      ids:
        - 10.0.10.23
      tags:
        - device_tablet
        - os_ios
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: MMC-iPhone14ProMax
      ids:
        - 10.0.10.21
      tags:
        - device_phone
        - os_ios
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: PWR-ShellyPlugS-GarageDoor
      ids:
        - 10.0.80.53
      tags:
        - device_other
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: PWR-ShellyPlugS-PS5
      ids:
        - 10.0.80.52
      tags:
        - device_other
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: PWR-ShellyPlugS-TV
      ids:
        - 10.0.80.51
      tags:
        - device_other
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: RFA-DellLaptop
      ids:
        - 10.0.10.13
        - 100.126.247.121
      tags:
        - device_laptop
        - os_windows
        - user_admin
      upstreams: []
      use_global_settings: true
      filtering_enabled: true
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: RFA-DesktopPC
      ids:
        - 10.0.10.12
      tags:
        - device_pc
        - os_windows
        - user_admin
      upstreams: []
      use_global_settings: false
      filtering_enabled: true
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: RFA-GarminVenu2S
      ids:
        - 10.0.10.16
      tags:
        - device_other
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: RFA-GooglePixel6
      ids:
        - 10.0.10.11
        - 100.69.159.6
      tags:
        - device_phone
        - os_android
        - user_admin
      upstreams: []
      use_global_settings: false
      filtering_enabled: true
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: RFA-NintendoSwitchLite
      ids:
        - 10.0.10.14
      tags:
        - device_gameconsole
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: RFA-PlayStation5
      ids:
        - 10.0.10.15
      tags:
        - device_gameconsole
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: SNR-AwairElement
      ids:
        - 10.0.80.31
      tags:
        - device_other
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: SNR-WithingsBodyPlus
      ids:
        - 10.0.80.32
      tags:
        - device_other
        - os_other
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: SYN-DiskStation
      ids:
        - 10.0.1.25
        - 100.92.108.77
      tags:
        - device_nas
        - os_linux
        - user_regular
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: SYS-RaspberryPi-Alpha
      ids:
        - 10.0.1.1
        - 100.78.45.65
        - 172.16.10.254
      tags:
        - device_other
        - os_linux
        - user_admin
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: UAP-U6InWall
      ids:
        - 10.0.1.201
      tags:
        - device_other
        - os_other
        - user_admin
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: UAP-U6Lite
      ids:
        - 10.0.1.205
      tags:
        - device_other
        - os_other
        - user_admin
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: UBNTER12
      ids:
        - 10.0.1.254
      tags:
        - device_other
        - os_linux
        - user_admin
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
    - safe_search:
        enabled: false
        bing: false
        duckduckgo: false
        google: false
        pixabay: false
        yandex: false
        youtube: false
      blocked_services:
        schedule:
          time_zone: Europe/Lisbon
        ids: []
      name: USW-16PoE
      ids:
        - 10.0.1.100
      tags:
        - device_other
        - os_linux
        - user_admin
      upstreams: []
      use_global_settings: true
      filtering_enabled: false
      parental_enabled: false
      safebrowsing_enabled: false
      use_global_blocked_services: true
      ignore_querylog: false
      ignore_statistics: false
log_file: ''
log_max_backups: 0
log_max_size: 100
log_max_age: 3
log_compress: false
log_localtime: false
verbose: false
os:
  group: ''
  user: ''
  rlimit_nofile: 0
schema_version: 22