http:
  middlewares:
    chain-default:
      chain:
        middlewares:
          - rate-limiting@file
          - security-headers@file
    chain-authelia:
      chain:
        middlewares:
          - rate-limiting@file
          - security-headers@file
          - authelia@file
    authelia:
      forwardAuth:
        address: http://authelia/api/verify?rd=https://authelia.{{ config_network_domain }}
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
    rate-limiting:
      rateLimit:
        average: 100
        burst: 50
        period: 1s
    security-headers:
      headers:
        accessControlAllowCredentials: true
        accessControlMaxAge: 100
        addVaryHeader: true
        browserXssFilter: true
        contentTypeNosniff: true
        customFrameOptionsValue: 'SAMEORIGIN'
        featurePolicy: "vibrate 'none'; geolocation 'none'; midi 'none'; notifications 'none'; push 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; vibrate 'none'; fullscreen 'none'; payment 'none'"
        hostsProxyHeaders:
          - 'X-Forwarded-Host'
        referrerPolicy: 'strict-origin-when-cross-origin'
