http:
  middlewares:
    chain-default:
      chain:
        middlewares:
          - rate-limiting@file
          - security-headers@file
    chain-authelia:
      chain:
        middlewares:
          - rate-limiting@file
          - security-headers@file
          - authelia@file
    chain-synology-webdav:
      chain:
        middlewares:
          - rate-limiting@file
          - security-headers@file
          - synology-webdav@file
    authelia:
      forwardAuth:
        address: http://authelia/api/verify?rd=https://authelia.{{ config_network_domain }}
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
    rate-limiting:
      rateLimit:
        average: 100
        burst: 50
        period: 1s
    security-headers:
      headers:
        accessControlAllowCredentials: true
        accessControlMaxAge: 100
        addVaryHeader: true
        browserXssFilter: true
        contentTypeNosniff: true
        customFrameOptionsValue: 'SAMEORIGIN'
        permissionsPolicy: accelerometer(), camera(), fullscreen(), geolocation(), gyroscope(), magnetometer(), microphone(), midi(), notifications(), payment(), picture-in-picture(), push(), speaker(), sync-xhr(), usb(), vibrate()
        hostsProxyHeaders:
          - 'X-Forwarded-Host'
        referrerPolicy: strict-origin-when-cross-origin
    synology-webdav:
      plugin:
        headerTransformation:
          Rules:
            - Rule:
              Header: Destination
              Value: https://webdav.{{ config_network_domain }}(?::443)?/(.*)
              ValueReplace: http://webdav.{{ config_network_domain }}/$1
              Type: RewriteValueRule
