# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# The name of the file in which command history is saved
HISTFILE=~/.bash_history

# Don't put duplicate lines or lines starting with space in the history
HISTCONTROL=ignoreboth

# The maximum number of lines contained in the history file
HISTFILESIZE=2000

# The number of commands to remember in the command history
HISTSIZE=1000

# Append to the history file when the shell exits (don't overwrite it)
shopt -s histappend

# Check the window size after each command and update LINES/COLUMNS if necessary
shopt -s checkwinsize

# Correct minor errors in the spelling of a directory component in a cd command
shopt -s cdspell

# Save all lines of a multiple-line command in the same history entry
shopt -s cmdhist

# Correct directory names spelling during word completion if the directory name does not exist
shopt -s dirspell

# Includes filenames beginning with a '.' in the results of pathname expansion
shopt -s dotglob

# Matches filenames in a case-insensitive fashion when performing pathname expansion
shopt -s nocaseglob

# Make 'less' more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# Set variable identifying the chroot you work in (used in the prompt below)
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi

# Set a fancy color prompt if supported by the terminal
case "${TERM}" in
    xterm-color|*-256color) color_prompt=yes;;
esac

if [ "${color_prompt}" = yes ]; then
    {% if config_role_user_name == 'root' %}
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;31m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
    {% else %}
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
    {% endif %}
else
    PS1='${debian_chroot:+($debian_chroot)}\u@\h:\w\$ '
fi

# If this is an xterm set the title to user@host:dir
case "${TERM}" in
    xterm*|rxvt*) PS1="\[\e]0;${debian_chroot:+($debian_chroot)}\u@\h: \w\a\]$PS1";;
               *) ;;
esac

# Use up and down arrows to jump more efficiently into the history
bind '"\e[A":history-search-backward'
bind '"\e[B":history-search-forward'
