api:
  dashboard: true

experimental:
  plugins:
    headerTransformation:
      moduleName: github.com/tomMoulard/htransformation
      version: v0.2.6

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /etc/traefik/dynamic

entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ':443'
